doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .nav
      a(href="/") Home
      br 
      a(href="/new") New Message
    block content
  script(src='/javascripts/message.js')
